spring:
  application:
    name: configserver
  cloud:
    compatibility-verifier:
      enabled: false  # 호환성 검사 비활성화 (Spring Boot 3.5.7과 Spring Cloud 2024.0.0 호환)

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://eurekaserver:8761/eureka/
  instance:
    hostname: configserver
    prefer-ip-address: false
